{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    
    {% if user.is_authenticated %}

        <form id='post-send'>
            <textarea required id="post-body" name="post-body" placeholder="What's happening?"></textarea>
            <input type='submit' class='btn btn-success' value='Send' />
        </form>
    {% endif %}   

    <div id="posts"></div>

    <div id="profile"></div>

    <div id="following"></div>

    {% if user.is_authenticated %}
        <script>
            const user_username = "{{ user.username }}";
        </script>
    {% endif %}
    <script src="{% static 'network/index.js' %}"></script>

{% endblock %}

